02_Source/software/ar_demo
02_Source/software/gyro
02_Source/ToFDataReceiver/ToFDataReceiver
02_Source/software/acc.csv
02_Source/software/data.txt
02_Source/software/data.txt
02_Source/software/data.txt
02_Source/data/ToFData/*_test_*.txt
02_Source/data/ToFData/*_movement_*.txt
*.cmd
*.ko
*.symvers
*.order
*.mod.c
*.pyc
02_Source/python/__pycache__/functions.cpython-39.pyc
02_Source/python/pyArrayToC/calib_xchan.txt
02_Source/python/pyArrayToC/calib_ychan.txt
02_Source/python/calib_ychan.txt
02_Source/python/calib_xchan.txt
02_Source/calib_ychan.txt
02_Source/calib_xchan.txt
02_Source/python/corr_calib_xchan.txt
02_Source/python/corr_calib_ychan.txt
02_Source/software/calib_xchan.txt
02_Source/software/calib_ychan.txt
*.zip
02_Source/data/RaspiData/img_*.jpg
02_Source/python/corr_calib_xchan_raspi.txt
.gitignore
02_Source/python/corr_calib_ychan_raspi.txt
02_Source/software/data.csv
01_Documentation/images/_MG_7143.CR2
01_Documentation/images/_MG_7143.xmp
01_Documentation/images/_MG_7144.CR2
01_Documentation/images/_MG_7144.xmp
01_Documentation/images/_MG_7146.CR2
01_Documentation/images/_MG_7146.xmp
02_Source/data/*
